<section (click)="closeModal()" class="provider-container">
  <div
    class="card mb-3 mt-3 rounded-lg bg-red-50"
    *ngIf="providerDetail.length > 0"
  >
    <div class="provider-wrapper">
      <div class="img-container">
        <img
          [src]="providerDetail[0].image"
          class="img-fluid rounded-start"
          [alt]="providerDetail[0].name"
        />
      </div>
      <div class="about-container">
        <div class="card-body flex flex-col items-start justify-evenly">
          <h5 class="mb-3 text-xl font-bold">Name</h5>
          <h5 class="card-title text-lg font-semibold">
            {{ providerDetail[0].name }}
          </h5>
          <hr />
          <h5 class="mb-3 text-xl font-bold">Specialization</h5>
          <p class="card-text tex-lg font-semibold">
            {{ providerDetail[0].specialization }}
          </p>
          <hr />
          <h5 class="text-lg font-bold">About</h5>
          <p class="card-text font-semibold text-lg">
            {{ providerDetail[0].about }}
          </p>
        </div>
      </div>
    </div>
    <div class="experience">
      <h5 class="text-xl font-bold">Experience</h5>
      <p class="p-3" [innerHTML]="providerDetail[0].experience"></p>
    </div>
    <img
      class="close-icon"
      (click)="closeModal()"
      src="../../../assets/images/cut-icon.svg"
      alt="Close"
    />
  </div>
  <div class="custom-card" *ngIf="providerDetail.length <= 0">
    <h1>No provider found.</h1>
    <img
      class="close-icon"
      (click)="closeModal()"
      src="../../../assets/img/cut-icon.svg"
      alt="Close"
    />
  </div>
</section>
