<router-outlet />

<main class="w-full">
  <!-- start hero -->
  <div>
    <section id="home" class="home cover bg-blue-teal-gradient">
      <div class="h-full absolute top-0 left-0">
        <img
          src="assets/images/slide-2.jpg"
          alt=""
          class="cover w-full h-full object-cover opacity-10"
          style="border-bottom-right-radius: 128px"
        />
      </div>

      <div class="w-full lg:w-[90%] relative z-10 h-100 lg:mt-16">
        <div>
          <h1
            class="text-white text-xl md:text-5xl xl:text-6xl font-bold leading-9 lg:leading-8"
          >
            Welcome to INLAND ORTHOPEDIC MEDICAL GROUP INC – Your Trusted
            Partner in Orthopedic Care!
          </h1>
          <p class="text-blue-100 text-xl md:text-2xl leading-snug mt-4">
            What ever you do remember health is first. Don't give up on yourself
            yet! you can still use that your body part again.
          </p>
          <a routerLink="/appointment" class="book-appointment-btn"
            >Book Appointment</a
          >
        </div>
      </div>
    </section>
  </div>
  <!-- end hero -->

  <!-- start about -->
  <app-about />
  <!-- end about -->

  <!-- start providers -->
  <app-providers />
  <!-- end provider -->

  <!-- start cta -->
  <section
    class="relative bg-blue-teal-gradient px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-12 text-center md:text-left"
  >
    <div class="md:flex md:items-center md:justify-center">
      <h2 class="text-xl font-bold text-white">
        Get in touch with us today! <br class="block md:hidden" />Call us on: +1
        562-789-1935
      </h2>
      <a routerLink="/appointment" class="book-appointment-btn-cta"
        >Book Appointment</a
      >
    </div>
  </section>
  <!-- end cta -->
</main>
