.home {
  @apply bg-transparent relative mt-8 lg:mt-[6rem] flex items-center justify-around min-h-screen w-full h-[100vh] max-h-[100vh] object-cover z-0;
  background-image: url("../../../assets/images/slide-3.jpg");
  background-repeat: no-repeat;
}

.header-text-container {
  @apply flex p-4 flex-col items-center justify-between gap-5 lg:gap-8 w-full md:w-[75%] lg:w-[60%] z-10 h-[50%] lg:-mt-[4.5rem];
}

@media (min-width: 1000px) {
  .home {
    background-position: center;
    background-size: cover;
  }
}

.home::after {
  content: "";
  @apply h-[100vh] w-full bg-[#00346770] top-0 left-0 right-0 absolute z-[9];
  border-bottom-right-radius: 100px;
}

@media (min-width: 1024px) {
  .home::after {
    border-bottom-right-radius: 128px;
  }
}
