<!-- ======= Testimonials Section ======= -->
<section
  id="testimonials"
  class="testimonials flex items-center justify-center"
>
  <div class="container">
    <h2 class="header-text">Testimonials</h2>
    <h4 class="mx-auto font-bold text-lg w-fit text-center">
      What are they saying about us.
    </h4>

    <div class="testimonials-slider swiper w-[90%] mx-auto">
      <swiper-container
        class="swiper-wrapper"
        Swiper
        pagination="true"
        pagination-clickable="true"
        [config]="swiperConfig"
        init="true"
      >
        @for(testimonial of testimonials; track testimonial.id){
        <swiper-slide class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/images/logo.png"
                class="testimonial-img"
                [alt]="testimonial.name"
              />
              <h3>{{ testimonial.name }}</h3>
              <h4>{{ testimonial.title }}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ testimonial.text }}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </swiper-slide>
        }
        <!-- End testimonial item -->

        <!-- End testimonial item -->
      </swiper-container>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
