<section id="testimonials" class="section bg-gray-100 md:p-4">
  <h2 class="header-text">Testimonials</h2>
  <div class="flex items-center justify-center m-auto">
    <div class="w-full flex flex-col lg:flex-row">
      <div class="w-full lg:w-1/2 p-2">
        <h2 class="text-4xl leading-10 font-bold mt-2">
          Why choose the Sobol Orthopedic Medical Group?
        </h2>
        <p class="mt-2 leading-8">
          Choose Sobol ORTHOPEDIC MEDICAL GROUP INC for specialized orthopedic
          care, offering comprehensive services from experienced professionals,
          our personalized treatment plans, dedicated rehabilitation services,
          positive patient testimonials, convenient Sobol location, commitment
          to continuous professional education, and active community engagement
          ensure that our patients receive the best possible care at every stage
          of their journey to recovery.
        </p>
      </div>

      <div class="w-full mt-8 lg:mt-4 lg:w-1/2 md:mx-auto">
        <div class="knee-treatment w-full h-[20rem] rounded-lg"></div>
        <h1 class="text-lg font-bold text-center mt-2">
          The best Orthopedic care provider you can get out there.
        </h1>
      </div>
    </div>
  </div>
</section>
